@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");

.App {
  background-image: url("/public/IMG_7743.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-button {
  padding: 10px 30px;
  border: 0;
  border-radius: 15px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: black;
}

.ml-5 {
  margin-left: 5px;
}

.h1 {
  font-size: 36px;
  color: white;
}

.fz-16 {
  font-size: 20px;
}
